<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WorklistHost" value="worklist.example.com" />
    <add key="WorklistPort" value="104" />
    <add key="WorklistCallingAE" value="WORKLISTCLIENT" />
    <add key="WorklistCalledAE" value="WORKLISTSRV" />
    <add key="DestinationHost" value="destination.example.com" />
    <add key="DestinationPort" value="104" />
    <add key="DestinationCallingAE" value="ORMCLIENT" />
    <add key="DestinationCalledAE" value="DESTINATION" />
  </appSettings>
</configuration>
